@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color red #f38ba8;
@define-color mauve #cba6f7;

* {
  font-family:
    "Iosevka",
    "Symbols Nerd Font";
  font-weight: bolder;
  font-size: 14px;
}

window#waybar {
  background-color: @crust;
  color: @sapphire;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  color: @blue;
  box-shadow: inherit;
  text-shadow: inherit;
  background: @crust;
  border: @crust;
}

#workspaces button.empty {
  color: #44475a;
  opacity: 0.6;
}

#workspaces button {
  padding: 0 5px;
  color: gray;
  margin: 4px 0 4px 0;
  transition: color 200ms ease-in-out;
}

#workspaces button.selected {
  color: @blue;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.urgent {
  color: @red;
}

#image {
  margin: 4px 0 4px 10px;
}

#clock,
#battery,
#network.wifi,
#network.disconnected,
#tray {
  padding: 0 6px;
  color: @text;
  border-radius: 15px;
  margin: 5px 0;
}

#pulseaudio {
  padding: 0 10px;
  color: @text;
  border-radius: 15px;
  margin: 5px 0;
}

#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, reduce left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 2px;
}

#clock {
  color: @text;
}


#pulseaudio {
  color: @mauve;
}

#pulseaudio.muted {
  color: @surface2;
}

#network {
  color: @blue;
}

#network.disconnected {
  color: @surface2;
}

#network.ethernet {
  margin-right: 14px;
  margin-left: 8px;
}

#battery {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#bluetooth {
  margin-right: 10px;
  color: white;
}



.modules-left {
  padding-right: 10px;
}

.modules-center {
  padding: 0 10px;
}

.modules-right {
  padding: 0 10px;
}

/* vim: ft=sass */
